@model ThRejectApp.Models.tbRejectRecord

<link rel="stylesheet" href="~/Content/input-form.css">

<header>
    <div class="taylor-hobson logo-img desktop-only"></div>
    <h1>Reject Number: @ViewBag.RejectNo</h1>
    <div class="ametek logo-img desktop-only"></div>
</header>

<nav id="menu-draw">
    <a class="nav-item" href="@Url.Action("Index", "Home")">Raise Ticket</a>
    <a class="nav-item" href="@Url.Action("Tickets", "TicketGrid")">All Tickets</a>
</nav>
<div id="menu-burger" class="burger">
    <span class="menu-span"></span>
    <span class="menu-span"></span>
    <span class="menu-span"></span>
</div>

<main>
    <div class="container-1">
        <section class="container-2">
            <h2>Vendor Information</h2>
            <div class="line">
                <h3>Vendor Name:</h3>
                <input id="Vendor" type="text" value="@Model.Vendor">
            </div>
            <div class="line line--sub-container">
                <h3>Address:</h3>
                <div class="line--sub">
                    <input id="AddressLine1" type="text" value="@Model.AddressLine1" placeholder="Line one">
                </div>
                <div class="line--sub">
                    <input id="AddressLine2" type="text" value="@Model.AddressLine2" placeholder="Line two">
                </div>
                <div class="line--sub">
                    <input id="City" type="text" value="@Model.City" placeholder="City">
                </div>
                <div class="line--sub">
                    <input id="PostCode" type="text" value="@Model.PostCode" placeholder="Post code">
                </div>
                <div class="line--sub">
                    <input id="CountryCode" type="text" value="@Model.CountryCode" placeholder="Country code">
                </div>
            </div>
            <div class="line">
                <h3>Buyer Name:</h3>
                <input id="BuyerName" type="text" value="@Model.BuyerName">
            </div>
            <div class="line">
                <h3>Buyer Email:</h3>
                <input id="BuyerEmail" type="text" value="@Model.BuyerEmail">
            </div>
        </section>
        <section class="container-2">
            <h2>Reject Information</h2>
            <div class="line">
                <h3>Reject Note</h3>
                <input id="RejectNo" type="text" value="@Model.RejectNo">
            </div>
            <div class="line">
                <h3>Date Raise:</h3>
                <input id="DateRaised" type="date" value="@Model.DateRaised">
            </div>
            <div class="line">
                <h3>PRO No:</h3>
                <input id="ProNo" type="text" value="@Model.ProNo">
            </div>
            <div class="line">
                <h3>Replacement PO No:</h3>
                <input id="ReplacementPo" type="text" value="@Model.ReplacementPo">
            </div>
            <div class="line">
                <h3>Supplier RMA No:</h3>
                <input id="RmaNo" type="text" value="@Model.RmaNo">
            </div>
            <div class="line line--checkbox">
                <input id="ShippingMethod" type="text" value="@Model.ShippingMethod">
                <h3>Shipping Method:</h3>
                <div class="checkbox-container checkbox-container--multi-option">
                    <span>DHL</span>
                    <span>Collect</span>
                    <span>Scrap</span>
                </div>
            </div>
            <div class="line">
                <h3>Tracking No:</h3>
                <input id="TrackingNo" type="text" value="@Model.TrackingNo">
            </div>
            <div class="line">
                <h3>Manufacturing No:</h3>
                <input id="MoNo" type="text" value="@Model.MoNo">
            </div>
        </section>
    </div>
    <div class="container-1">
        <section class="container-2">
            <h2>Part Information</h2>
            <div class="line">
                <h3>Part No:</h3>
                <input id="PartNo" type="text" value="@Model.PartNo">
            </div>
            <div class="line">
                <h3>Description:</h3>
                <input id="PartDescription" type="text" value="@Model.PartDescription">
            </div>
            <div class="line">
                <h3>Rejectioned Quanty:</h3>
                <input id="QtyRejected" type="number" value="@Model.QtyRejected">
            </div>
            <div class="line">
                <h3>Total Value (£):</h3>
                <input id="TotalValue" type="number" value="@Model.TotalValue">
            </div>
        </section>
        <section class="container-2">
            <h2>Reason for Rejection</h2>
            <div class="line">
                <h3>Reason Code:</h3>
                <select id="ReasonCode">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="line">
                <h3>Description:</h3>
                <input id="ReturnDescription" type="text" value="@Model.ReturnDescription">
            </div>
            <div class="line">
                <h3>Rejected PO No:</h3>
                @* textbox-width need for iPhone-fix.js *@
                <input id="RejectedPoNo" class="textbox-width" type="text" value="@Model.RejectedPoNo">
            </div>
        </section>

    </div>

    <div class="container-2 notice">
        <h2>Important Notice</h2>
        <p>Please issue a credit for these rejected goods with the reference <span>PRO No</span></p>
        <p>Replacements are <span>Not Required</span></p>
    </div>

    <div class="container-1">
        <div class="container-2 container-2--empty-filler"></div>
        <div class="container-2">
            <div class="line">
                <h3>Date Goods Shipped</h3>
                <input id="DateGoodsShipped" class="date-width-fix" type="date" value="@Model.DateGoodsShipped">
            </div>
            <div class="line line--checkbox line--checkbox-slider">
                <h3>Credit Note Recieved</h3>
                <input id="CreditNoteReceived" type="checkbox" value="@Model.CreditNoteReceived">
                <div id="credit-recieved-slider" class="checkbox-container--slider">
                    <div class="green-slider"></div>
                    <div class="ball-slider"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="save-button" class="cta">Save &amp; Close</div>
    <div id="cancel-button" class="cta">Cancel</div>
    <div class="cta" onclick="window.location.reload(true);">Force Reload</div>

</main>
<footer>
    <p>&copy; Chris Franks</p>
    <p>P14140100</p>
</footer>

<div class="hide">
    <p id="save-link">@Url.Action("SaveForm")</p>
    <p id="cancel-link">@Url.Action("Tickets", "TicketGrid")</p>
</div>

<script src="~/Scripts/edit-form.js"></script>
